form {
    text-align: left;
    margin: 1.5rem 0;
}

form>div {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: .25rem;
}

form input:not([type="submit"]),
textarea {
    margin-bottom: 1rem;
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid rgb(var(--dark) / .3);
    border-radius: .25rem;
}

form input[type="file"] {
    width: 100%;
}

textarea {
    width: 100%;
    height: 15rem;
}

form input:not([type="submit"])::placeholder {
    color: rgb(var(--dark) / .3);
}

form input:not([type="submit"])::-ms-input-placeholder {
    color: rgb(var(--dark) / .3)
}

form input:not([type="submit"]):focus,
textarea {
    outline: none;
}

form input:not([type="submit"]).red, textarea.red {
    border: 1px solid red;
}