@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

html {
    font-size: 1rem;
}

:root {--main-color: 51 101 138; --sky-blue: 134 187 216; --honey-yellow: 246 174 45; --orange-red: 242 100 25; --clear-white: 250 250 250; --clear-grey: 230 230 230; --dark: 10 10 10; --transition: .5s;}

/*==========================================| RESET |==========================================*/
body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

/*==========================================| GENERAL |==========================================*/
body {
    display: grid;
    grid-template-rows: 4.375rem auto auto;
    overflow-x: hidden;
    color: rgb(var(--dark));
}

main section, footer >div {
    padding: 2rem 1.25rem;
}

/*==========================================| HEADER |==========================================*/
header {
    position: relative;
    width: 100%;
}

header >div {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: inherit;
    width: max-content;
    align-items: center;
    padding-left: 1rem;
    text-decoration: none;
    color: rgb(var(--main-color))
}

#logo svg {
    width: 2rem;
    height: auto;
    fill: rgb(var(--main-color))
}

#logo span {
    font-size: .9rem;
    margin-left: .5rem;
}

#burger {
    z-index: 2;
    padding-right: 1rem;
}

#burger button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.35rem;
    height: 2rem;
    padding: 5px;
}

#burger button span {
    width: 100%;
    height: 2px;
    background: rgb(var(--main-color));
    transition: var(--transition);
    transform-origin: left center;
}

.nav-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    right: -100%;
    top: 0;
    z-index: 1;
}

.nav-container.appear {
    right: 0;
    animation: bgAnimFadeIn var(--transition) forwards;
}

.nav-container.disappear {
    animation: backToInitialPosition var(--transition) forwards, bgAnimFadeOut var(--transition) forwards;
}

.navigator {
    position: inherit;
    display: flex;
    width: 70%;
    height: 100%;
    right: -70%;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(var(--clear-white));
    padding: 3.5rem 0;
    transition: right var(--transition);
}

.navigator.move {
    right: 0;
}

.navigator li {
    border-bottom: 1px solid rgb(var(--clear-grey));
}

.navigator li a, .navigator div {
    padding: .75rem;
}
.navigator li a {
    display: flex;
    color: rgb(var(--main-color));
}

.navigator li svg {
    width: 1rem;
    height: auto;
    margin-right: .65rem;
}

.navigator li svg path {
    fill: rgb(var(--orange-red));
}

.navigator div {
    display: inherit;
    flex-direction: inherit;
    font-size: .8rem;
}

.navigator div span {
    text-align: center;
}

.navigator div span:not(:last-child) {
    margin-bottom: .5rem;
}

.navigator div span a {
    color: rgb(var(--main-color))
}

.line1 {
    transform: rotateZ(45deg) translate(2px, -3px);
}

.line2 {
    opacity: 0;
}

.line3 {
    transform: rotateZ(-45deg) translate(3px, 2px);
}

@keyframes bgAnimFadeIn {
    to {
        background: rgb(var(--dark) / .7);
    }
}

@keyframes bgAnimFadeOut {
    to {
        opacity: 0;
    }
}

@keyframes backToInitialPosition {
    to {
        right: -100%;
    }
}

/*==========================================| MAIN |==========================================*/
section {
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.main-container img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.main-container h1 {
    font-size: 2.2rem;
    color: rgb(var(--orange-red));
}

.main-container p {
    line-height: 1.8rem;
    font-size: 1.2rem;
}

.main-container p, .description-container ul {
    margin: 1.5rem 0;
}

.main-container a {
    padding: .9rem 2rem;
    background: rgb(var(--orange-red));
    font-weight: 700;
    color: rgb(var(--clear-white));
    border-radius: .4rem;
}

.main-container div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-container:nth-child(even) {
    background: rgb(var(--clear-grey));
}

.description-container h2 {
    font-weight: 200;
    font-size: 1.5rem;
}

.description-container dl {
    padding: 1rem 15%;
    line-height: 1.5rem;
}

.description-container dl img {
    width: 35%;
    margin-bottom: 1rem;   
}

.description-container dt {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
    color: rgb(var(--main-color));
}

.description-container ul {
    font-size: inherit;
    line-height: 1.5rem;
}

.description-container li:not(:last-child) {
    margin-bottom: 5rem;
}

.description-container ul div {
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 1 / 1;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: .5rem;
}

.description-container ul div::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 25%, rgb(var(--dark) / .85));
}

.description-container ul h3, .description-container ul p {
    z-index: 1;
    padding:  0 1rem 1rem;
    color: rgb(var(--clear-white));
}

footer {
    background: rgb(var(--main-color));
    color: rgb(var(--clear-white));
}

footer >div >div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

footer dl {
    width: 47.5%;
}

footer dt {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    color: rgb(var(--sky-blue));
}

footer dd {
    padding: .15rem 0;
}
footer dd a {
    color: rgb(var(--clear-white));
    font-weight: 300;
}

footer span {
    display: block;
    text-align: center;
    font-size: .85rem;
    border-top: 1px solid rgb(var(--clear-white) / .15);
    padding-top: 1rem;
}