@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

html {
    font-size: 1rem;
}

:root {--main-color: 51 101 138; --sky-blue: 134 187 216; --honey-yellow: 246 174 45; --orange-red: 242 100 25; --clear-white: 250 250 250; --clear-grey: 230 230 230; --dark: 10 10 10; --transition: .5s;}

/*==========================================| RESET |==========================================*/
body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button, input[type="submit"] {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

/*==========================================| GENERICS |==========================================*/
body {
    display: grid;
    grid-template-rows: 4.375rem auto auto;
    overflow-x: hidden;
    color: rgb(var(--dark));
}

main section, footer >div {
    padding: 2rem 5%;
}

h1 {
    font-size: clamp(2.2rem, 4.5vw, 2.5rem);
    color: rgb(var(--orange-red));
}

h2 {
    font-size: clamp(1.5rem, 3.5vw, 2rem);
    font-weight: 200;
}

/*==========================================| HEADER |==========================================*/
header {
    position: relative;
    width: 100%;
}

header >div {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: inherit;
    width: max-content;
    align-items: center;
    padding-left: 1rem;
    text-decoration: none;
    color: rgb(var(--main-color))
}

#logo svg {
    width: 2rem;
    height: auto;
    fill: rgb(var(--main-color))
}

#logo span {
    font-size: .9rem;
    margin-left: .5rem;
}

#burger {
    z-index: 2;
    padding-right: 1rem;
}

#burger button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.35rem;
    height: 2rem;
    padding: 5px;
}

#burger button span {
    width: 100%;
    height: 2px;
    background: rgb(var(--main-color));
    transition: var(--transition);
    transform-origin: left center;
}

.nav-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    right: -100%;
    top: 0;
    z-index: 1;
}

.nav-container.appear {
    right: 0;
    animation: bgAnimFadeIn var(--transition) forwards;
}

.nav-container.disappear {
    animation: backToInitialPosition var(--transition) forwards;
}

.navigator {
    position: inherit;
    display: flex;
    width: 70%;
    height: 100%;
    right: -70%;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(var(--clear-white));
    padding: 3.5rem 0;
    transition: right var(--transition);
}

.navigator.move {
    right: 0;
}

.navigator ul {
    display: flex;
    flex-direction: column;
}
.navigator li {
    border-bottom: 1px solid rgb(var(--clear-grey));
}

.navigator li a, .navigator div {
    padding: .75rem;
}

.navigator li a {
    display: flex;
    color: rgb(var(--main-color));
}

.navigator li svg {
    width: 1rem;
    height: auto;
    margin-right: .65rem;
}

.navigator li svg path {
    fill: rgb(var(--orange-red));
}

.navigator div {
    display: inherit;
    flex-direction: inherit;
    font-size: .8rem;
}

.navigator div span {
    text-align: center;
}

.navigator div span:not(:last-child) {
    margin-bottom: .5rem;
}

.navigator div span a {
    color: rgb(var(--main-color))
}

.line1 {
    transform: rotateZ(45deg) translate(2px, -3px);
}

.line2 {
    opacity: 0;
}

.line3 {
    transform: rotateZ(-45deg) translate(3px, 2px);
}

@keyframes bgAnimFadeIn {
    to {
        background: rgb(var(--dark) / .7);
    }
}

@keyframes backToInitialPosition {
    to {
        right: -100%;
    }
}

/*==========================================| MAIN |==========================================*/
section {
    text-align: center;
}

section:nth-child(even) {
    background: rgb(var(--clear-grey));
}

.main-container, .description-container, footer >div {
    margin: 0 auto;
}

.main-container, .main-container.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
}

.main-container figure {
    display: inherit;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.main-container img {
    display: block;
    width: inherit;
    height: auto;
    margin-bottom: 2rem;
}

.main-container p {
    line-height: clamp(1.8rem, 3vw, 2.2rem);
    font-size: clamp(1rem, 2vw, 1.3rem);
}

.main-container p, .description-container >p, .description-container >span, .description-container ul {
    margin: 1.5rem 0;
}

.main-container a, .description-container a, .main-container input[type="submit"] {
    padding: .9rem 2rem;
    background: rgb(var(--orange-red));
    font-weight: 700;
    color: rgb(var(--clear-white));
    border-radius: .4rem;
}

.description-container a {
    align-self: center;
    width: clamp(300px, 100%, 360px);       
}

.main-container b, .description-container b {
    color: rgb(var(--main-color))
}

.main-container div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-container {
    display: flex;
    flex-direction: column;
}

.description-container >span {
    display: flex;
    flex-direction: column;
}

.description-container dl {
    padding: 1rem 15%;
    line-height: 1.5rem;
}

.description-container dl img {
    width: calc(1rem / 16 * 70);
    margin-bottom: 1rem;   
}

.description-container dt {
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    font-weight: 700;
    margin-bottom: .5rem;
    color: rgb(var(--main-color));
}

.description-container >p {
    line-height: clamp(1.5rem, 3vw, 1.85rem);
    font-size: clamp(.9rem, 1.85vw, 1rem);

}

.description-container ul {
    display: flex;
    flex-direction: column;
    font-size: inherit;
    line-height: 1.5rem;
}

.description-container li:not(:last-child) {
    margin-bottom: 5rem;
}

.description-container ul div {
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 1 / 1;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: .5rem;
}

.description-container ul div::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 25%, rgb(var(--dark) / .85));
}

.description-container ul h3, .description-container ul p {
    z-index: 1;
    padding:  0 1rem 1rem;
    color: rgb(var(--clear-white));
}

.img-circle.responsive {
    align-self: center;
    object-fit: cover;
    border-radius: 50%;
    width: clamp(250px, 50%, 350px);
    height: auto;
}

/*==========================================| FOOTER |==========================================*/
footer {
    background: rgb(var(--main-color));
    color: rgb(var(--clear-white));
}

footer >div >div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

footer dl {
    width: 47.5%;
}

footer dt {
    margin-bottom: .5rem;
    color: rgb(var(--sky-blue));
}

footer dd {
    font-size: .9rem;
    padding: .15rem 0;
}
footer dd a {
    color: rgb(var(--clear-white));
    font-weight: 300;
}

footer span {
    display: block;
    text-align: center;
    font-size: .85rem;
    border-top: 1px solid rgb(var(--clear-white) / .15);
    padding-top: 1rem;
}

/*==========================================| MEDIA QUERIES |==========================================*/
@media screen and (min-width: 360px) {
    main section, footer >div {
        padding: 2rem;
    }
}

@media screen and (min-width: 460px) {
    body {
        grid-template-rows: 6.25rem auto auto;
    }

    #logo {
        padding-left: 2rem;
    }
    
    #logo svg {
        width: 2.5rem;
    }
    
    #logo span {
        font-size: 1.1rem;
        margin-left: .75rem;
    }
    
    #burger {
        padding-right: 2rem;
    }

    .main-container figure, .description-container li {
        max-width: calc(1rem / 16 * 420);
    }

    .description-container ul {
        align-items: center;
    }

}

@media screen and (min-width: 750px) {
    .main-container.home {
        flex-direction: row;
        gap: 2rem;
        height: clamp(400px, calc(50 * 1vmax), 70vh);
    }

    .main-container.home figure {
        max-width: unset;
    }

    .main-container img {
        margin-bottom: unset;
    }

    .main-container.home div {
        justify-content: center;
        align-items: flex-end;
        text-align: right;
    }

    .description-container >span {
        flex-direction: row;
        gap: 3rem;
    }

    .description-container dl {
        padding: unset;
        flex: 1 1 auto;
    }
}

@media screen and (min-width: 960px) {
    section >div, footer >div {
        max-width: 960px;
    }

    #burger {
        display: none;
    }

    .nav-container {
        position: unset;
        width: unset;
        height: unset;
    }
    
    .navigator {
        right: unset;
        width: unset;
        background: unset;
        padding: 0 2rem 0;
    }

    .navigator ul {
        flex-direction: row;
        justify-content: flex-end;
    }

    .navigator li {
        border-bottom: unset;
    }

    .navigator >div {
        display: none;
    }

    .main-container.home figure, .main-container.home div {
        flex: 1 1 50%;
    }

    .description-container ul {
        flex-direction: row;
        gap: 2.5rem;
    }

    .description-container li {
        flex: 1 1 30%;
    }

    .description-container li:not(:last-child) {
        margin-bottom: unset;
    }
}