//Font style
$font: 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap';

$font-size: 1rem;

//Colors
$main-color: 51 101 138;
$sky-blue: 134 187 216;
$honey-yellow: 246 174 45;
$orange-red: 242 100 25;
$clear-white: 250 250 250;
$clear-grey: 230 230 230;
$dark: 10 10 10;

//Transition
$transition: .5s;